.head {
    width: 12%;
    margin: 5px auto;
    text-decoration: underline;
    font-size: xx-large;
}

.main {
    border: 2px solid rgb(236, 235, 235);
    width: 30%;
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.clearBtn {
    width: 99%;
    height: 30px;
    margin-top: 5px;
    position: relative;
    left: 1px;
    margin-bottom: 5px;
    border-radius: 12px;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
}

.clearBtn:hover {
    background-color: red;
}

.input {
    width: 30%;
    position: relative;
    left: 470.5px;
    text-align: right;
    background-color: red;
    color: black;
    font-weight: bold;
    font-size: x-large;
    border: none;
    height: 80px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.Btn {
    height: 80px;
    width: 80px;
    margin: 1px;
    margin-left: 2px;
    border-radius: 50%;
    border: none;
    padding: 2px;
    font-size: 1.5em;
    font-weight: bolder;
}

.Btn:hover {
    background-color: red;
    color: black;
}

.Btn1 {
    height: 80px;
    width: 80px;
    margin: 1px;
    margin-left: 2px;
    border-radius: 50%;
    border: none;
    padding: 2px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: red;
}

.btnDiv {
    width: 95%;
    margin-left: 28px;
    margin-bottom: 3px;
}

p {
    color: grey;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    position: absolute;
    top: 400px;
}